<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define a new appender with JSON output. -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- This parameter allows you to add custom attributes
            as a Map argument (this must be the last argument). -->
            <enableContextMap>true</enableContextMap>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>